@import url(http://fonts.googleapis.com/earlyacess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyacess/hanna.css);
@import url(http://fonts.googleapis.com/earlyacess/notosanskr.css);
* {
	font-faiily: 'Nanum Gothic';'
}
thead th {
	background-color : #006DCC;
	color : white;
	text-align:center;
}
tr td:first-child,
tr th:first-child{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
	border-top-right-radius:6px;
	border-botton-right-radius:6px;
}
h5 {
	font-faimily : 'Noto Sans KR';
	font-size : 15px;
}
h4 {
	font-faimily : 'Noto Sans KR';
}
h3 {
	font-family : 'Hanna';
}
h2 {
	font-family : 'Hanna';	
}
h1 {
	font-family : 'Hanna';
}

